<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect("/")
} %>

<%- messages() %>

<a class="vehicleManageLinks" href="/inv/add-classification">Add New Classification</a>
<a class="vehicleManageLinks" href="/inv/add-inventory">Add New Inventory</a>
